{% load grandma_tags %}{% raw %}{% extends "base.html" %}
{% load i18n pages_tags %}

{% block content_title %}
    {% get_content current_page "long_title" as long_title %}
    {% if long_title %}
        {% placeholder long_title with TextInput %}
    {%else %}
        {% placeholder title %}
    {% endif %}
{% endblock %}

{% block content %}
{% endraw %}
{% if pages_settings.menu_proxy_was_installed %}
{% raw %}
    {% load menuproxy_tags %}
    {% block breadcrumbs %}{% show_breadcrumbs 'pages' current_page %}{% endblock %}
{% endraw %}
{% endif %}

{% if pages_settings.seo_was_installed %}
{% raw %}
	{% load seo_tags %}
	{% block keywords %}{% seo keywords for current_page %}{% endblock %}
	{% block description %}{% seo description for current_page %}{% endblock %}
	{% block title %}{% seo title for current_page as title %}
	{% if title %}{{ title }}{% else %}{% placeholder title %}{% endif %}{% endblock %}
{% endraw %}
{% endif %}
{% raw %}
{% endblock %}
{% endraw %}


